// Height
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$dashboard-header-height: 64px;

// Width
$info-cell-width: 40px;
$cell-width: 120px;

// Color
$main: #1e8f4f;
$border-color: #dddddd;
$primary: #3c74ff;
